
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Pacifico&family=Parisienne&family=Satisfy&display=swap');

body {
    background-image: url(https://hips.hearstapps.com/hmg-prod/images/cafe-sperl-1581437354.jpg?resize=980:*);
    padding:0 20 0 20; 
    
}
h1 {
    font-family: Parisienne ;
    text-align: center;
    color: darkgoldenrod;
    font-size: 3em;
    margin-bottom: 5px;
}
#eslogan {
    font-family:caveat ;
    font-style: italic;
    text-align: center;
    font-size: 2em; 
    color: cornsilk;
    border: 2px solid cornsilk;
    width: 40%;
    margin: auto;
}
h2 {
    color: #FFE4C4;
    font-family: Pacifico;
}
ul,li {font-size: 1.3em;
    font-family: Pacifico;
    color: white;
}
a {text-decoration: none;}
a:link {
    color: white;
}
a:hover{
    font-weight:bold;
}
a:active {
    color: darkgoldenrod;
}
.texto-normal {font-family: Satisfy;
    font-size: 1.2em;
    color: #FFE4C4 ;
    text-align: justify;
    line-height: 2;
    padding: 30px;
}
#logocafe {
    width: 150px;
    height: 150px;
    border-radius: 50%; 
    background-size: cover;

}
#contenedor-logo {
    text-align: center;
}
.fotocarta {
    width: 200px;
    height: 200px;
}
.categoria {
    background-color: darkgoldenrod;
    font-size: 2em;
    text-shadow: 3px 3px white;
}
table, td, th {
    border: solid goldenrod ;
    border-collapse: collapse;
    vertical-align: middle;
    height: 50%;
    padding: 20px;
}
table {
    background-color:cornsilk ;
    font-family: Satisfy;
    text-align: center;
    margin: auto;
    width: 50%;
}
form {
    border:2px solid rgb(145, 124, 43);
    width: 50%;
    margin: auto;
    padding: 30px;
    background-color: black;
    border-radius: 30px;
}
label {
    font-family: caveat;
    color: cornsilk;
    font-size: 1.5em;
}